[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/jp1971/pico-sdk.git

[submodule "lib/PicoDVI"]
	path = lib/PicoDVI
	url = https://github.com/vsladkov/PicoDVI.git

[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = https://github.com/vsladkov/tinyusb.git

[submodule "lib/qe6502"]
	path = lib/qe6502
	url = https://github.com/nnqe/qe6502.git

[submodule "lib/Pico-PIO-USB"]
	path = lib/Pico-PIO-USB
	url = https://github.com/sekigon-gonnoc/Pico-PIO-USB.git
